
<link rel="stylesheet" href="/css/styles.css">

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<footer class="footer-10" style="background-color: #006400; width: 100%; font-size: medium;">
  <div class="container">
    <div class="row mb-5 pb-3 no-gutters">
      <div class="col-md-4 mb-md-0 mb-4 d-flex">
        <div class="con con-1 w-100 py-5">
          <div class="con-info w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center" >
              <ion-icon name="call"></ion-icon>
            </div>
            <div class="text">
              <span>(+256) 7045 66244</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-md-0 mb-4 d-flex">
        <div class="con con-2 w-100 py-5">
          <div class="con-info w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <ion-icon name="mail"></ion-icon>
            </div>
            <div class="text">
              <span>info@mywastewatch.com</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-md-0 mb-4 d-flex">
        <div class="con con-3 w-100 py-5">
          <div class="con-info w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <ion-icon name="location"></ion-icon>
            </div>
            <div class="text">
              <span>Eve's House, Room 56, Kireka-Kamuli Rd, Wakiso - Uganda</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading">About Us</h2>
            <div>
              <p>We're your waste management system dedicated to serving you and your community.</p>
            </div>
            <!--ul class="list-unstyled">
              <li><a href="#" class="d-block">Out story</a></li>
              <li><a href="#" class="d-block">Awards</a></li>
              <li><a href="#" class="d-block">Our Team</a></li>
              <li><a href="#" class="d-block">Career</a></li>
            </ul-->
          </div>
          <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading">Quick Links</h2>
            <ul class="list-unstyled">
              <li><a href="#!/services" class="d-block">Our services</a></li>
              <li><a href="#!/contact-us" class="d-block">Contact Us</a></li>
              <li><a href="#!/login" class="d-block">Login</a></li>
              <li><a href="#!/signup" class="d-block">Signup</a></li>
            </ul>
          </div>
          <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading">Important Links</h2>
            <ul class="list-unstyled">
              <li><a href="#!" class="d-block">Blog</a></li>
              <li><a href="#!" class="d-block">Newsletter</a></li>
              <li><a href="#!" class="d-block">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-5 mb-md-0 mb-4">
        <h2 class="footer-heading">Get our Newsletter</h2>
        <form action="#" class="subscribe-form">
          <div class="form-group d-flex">
            <input type="text" class="form-control rounded-left" placeholder="Enter email address">
            <button type="submit" class="form-control capitalize submit rounded-right">Subscribe</button>
          </div>
          <p class="subheading">Get our newsletter in your mailbox</p>
        </form>
      </div>
    </div>
    <div class="row mt-5 pt-4 border-top">
      <div class="col-md-6 col-lg-8 mb-md-0 mb-4">
        <p class="copyright mb-0 text-white">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved.</p>
      </div>
      <div class="col-md-6 col-lg-4 text-md-right">
        <ul class="ftco-footer-social p-0 mx-5 flex" style="gap: 20px;">
          <li class="ftco-animate" style="list-style: none;">
            <a href="https://x.com/@allanpatrick40" data-toggle="tooltip" data-placement="items-center" title="Twitter" style="font-size: 250px; display: inline-block; width: 60px; height: 60px; line-height: 60px; border-radius: 50%; background-color: #f1f1f1; text-align: center;">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>
          <li class="ftco-animate" style="list-style: none;">
            <a href="https://wa.me/+256704566244" data-toggle="tooltip" data-placement="items-center" title="WhatsApp" style="font-size: 25px; display: inline-block; width: 60px; height: 60px; line-height: 60px; border-radius: 50%; background-color: #f1f1f1; text-align: center;">
              <ion-icon name="logo-whatsapp"></ion-icon>
            </a>
          </li>
          <li class="ftco-animate" style="list-style: none;">
            <a href="https://instagram.com/@allanpatrick400" data-toggle="tooltip" data-placement="items-center" title="Instagram" style="font-size: 25px; display: inline-block; width: 60px; height: 60px; line-height: 60px; border-radius: 50%; background-color: #f1f1f1; text-align: center;">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>
        </ul>
      </div>
      
    </div>
  </div>
</footer>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>