
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/newsletters/newsletter-1/assets/css/newsletter-1.css">

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>

<footer class="footer-10" style="background-color: #006400; width: 100%; font-size: medium;">
  <div class="container">
    <div class="contactrow ">
        <div class="column phone1">
            <h4><i class="fa fa-phone" style="font-size: 30px;"></i><br>
            Phone Number</h4>
            <a href="tel:3012745893">(301) 274-5893</a>
        </div>


        <div class="column email2">
            <h4><i class="fa fa-envelope" style="font-size: 30px;"></i><br>
            Email Address </h4>
            <a href="mailto:info@mywastewatch.com">info@mywastewatch.com</a>
        </div>


        <div class="column hours">
            <h4><i class="fa fa-clock" style="font-size: 30px;"></i> <br>
            Business Hours</h4>
            Mon - Fri |  9am - 5pm
        </div>
    </div>
    <div class="row mt-5 pt-4 border-top">
      <!-- Column 1: About Us -->
      <div class="col-md-3">
        <h2 class="footer-heading" style="font-size: x-large;">About Us</h2>
        <p style="color: #fff;">We're your waste management system dedicated to serving you and your community.</p>
        <div class="rounded-social-buttons">
          <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a class="social-button twitter" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
          <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>  
      </div>
      
      <!-- Column 2: Quick Links -->
      <div class="col-md-3">
        <h2 class="footer-heading" style="font-size: x-large;">Quick Links</h2>
        <ul class="list-unstyled">
          <li><a style="text-decoration: none;" href="/services" class="d-block">Our services</a></li>
          <li><a style="text-decoration: none;" href="/contact-us" class="d-block">Contact Us</a></li>
          <li><a style="text-decoration: none;" href="/login" class="d-block">Login</a></li>
          <li><a style="text-decoration: none;" href="/signup" class="d-block">Signup</a></li>
        </ul>
      </div>
      
      <!-- Column 3: Important Links -->
      <div class="col-md-3">
        <h2 class="footer-heading" style="font-size: x-large;">Important Links</h2>
        <ul class="list-unstyled">
          <li><a style="text-decoration: none;" href="#!" class="d-block">Blog</a></li>
          <li><a style="text-decoration: none;" href="#!" class="d-block">Newsletter</a></li>
          <li><a style="text-decoration: none;" href="#!" class="d-block">Privacy Policy</a></li>
        </ul>
      </div>
      
      <!-- Column 4: Newsletter Signup -->
      <div class="col-md-3">
        <h2 class="footer-heading" style="font-size: x-large;">Our Newsletter</h2>
        <form class="row gy-3 justify-content-center">          
          <div class="input-group mb-3 b">
            <input type="email" class="form-control bsb-form-control-xl" placeholder="Email Address" aria-label="email-newsletter-component" required>
            <div class="input-group-append">
              <button type="submit" style="background-color: #fefefe; color: #006400; padding-left: 15px; padding-right: 15px; font-size: 25px;"> <i class="fas fa-paper-plane"></i></button>
            </div>
          </div>
          <small class="form-text text-center text-white">We'll never share your email with anyone else.</small>               
        </form>
      </div>
    </div>
    
  </div>
  <div class="row mt-5 pt-4 border-top">
    <p class="copyright mb-0 text-white ">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved.</p>
  </div>
</footer>
<script>
  document.getElementById('subscribe-form').addEventListener('submit', function (event) {
    event.preventDefault();

    var email = document.getElementById('email').value;

    var formData = {
        email: email
    };

    fetch('http://localhost:3000/send-email', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    })
    .then(response => response.json())
    .then(data => {
        console.log('Success:', data);
    })
    .catch((error) => {
        console.error('Error:', error);
    });
  });
</script>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>