
<footer style="background-color: #043755; color: rgb(255, 255, 255); font-family: monospace ">
  <div class="container-fluid py-5">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12 mb-3">
        <div class="d-flex align-items-center mb-4">
          <img src="/images/bin.png" class="h-8" alt="MyWasteWatch Logo">
          <span class="ml-3 text-xl text-purple-500 font-bold" style="text-transform: uppercase;">MyWasteWatch</span>
        </div>
        <p>Your ultimate waste management solution to manage your waste responsibly and contribute to a cleaner, greener future.</p>
      </div>
      <div class="col-lg-3 col-md-6 col-12 mb-3">
        <h4 class="text-purple-500 font-bold">Important Links</h4>
        <ul class="list-unstyled" >
          <li><a href="#" class="text-white ml-1 text-reset">About Us</a></li>
          <li><a href="#" class="text-white ml-1 text-reset">Our Services</a></li>
          <li><a href="#" class="text-white ml-1 text-reset">Contact Us</a></li>
          <li><a href="#" class="text-white ml-1 text-reset">Collection Schedule</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-12 mb-3">
        <h4 class="text-purple-500 font-bold">Get In Touch</h4>
        <ul>
          <li><a href="/login"  class="hover:text-indigo-600 text-white ml-1 text-reset" target="_blank" class="icon-Account"> Login</a></li>
          <li><a href="/signup"  class="hover:text-indigo-600 text-white ml-1 text-reset" target="_blank"><i class="icon-Account"></i> Signup</a></li>
          <li><a href="/user/contact"  class="hover:text-indigo-600 text-white ml-1 text-reset" target="_blank"><i class="icon-Name"></i> Support</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-12 mb-3">
        <h4 class="text-purple-500 font-bold">Contact Us</h4>
        <p>Email: <a href="mailto:info@mywastewatch.com" class="text-white ml-1 text-reset hover:text-indigo-600"><i class="icon-Email"></i>info@mywastewatch.com</a></p>
        <p>Phone: <a href="tel:+256765032388" class="text-white ml-1 text-reset text-white hover:text-indigo-600"><i class="icon-Phone"></i>+256 (765) 032-388</a></p>
        <div class="d-flex align-items-center">
          <a href="#" class="text-white mx-2"><img src="/public/images/Facebook.png" alt="Facebook"></a>
          <a href="#" class="text-white mx-2"><img src="/public/images/Twitter.png" alt="Twitter"></i></a>
          <!--a href="#" class="text-white mx-2"><img src="/public/images/Instagram.png" alt="Instagram"></i></a-->
          <a href="#" class="text-white mx-2"><img src="/public/images/Linkedin.png" alt="Linkedin"></i></a>
      </div>
      
      </div>
    </div>
  </div>
  <div class="container-fluid bg-primary py-3"  style="background-color: #043755;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <p class="mb-0 text-white">&copy; 2024 MyWasteWatch. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 text-center">
                <p class="mb-0 text-white">Designed by <a style="text-decoration: none; color: #fff" href="https://github.com/AllanMusinguzi" class="text-white ml-1 " rel="noopener noreferrer" target="_blank"><span class="font-bold hover:text-indigo-600 hover:bg-green-600 rounded py-1 px-2">AllanMusinguzi</span></a></p>
            </div>
        </div>
    </div>
</div>
   
</footer>

