<link rel="stylesheet" href="/css/styles.css">

<nav class="fixed top-0 z-50 w-full border-b border-gray-200" style="text-decoration: none; font-family: 'Ubuntu', sans-serif; background-color: #006400;">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start rtl:justify-end">
        <a href="#" class="flex ms-2 md:me-24" style="text-decoration: none;">
          <img src="/images/bin-2.png" class="h-12 w-11 me-3" alt="Logo" />
          <span class="self-center text-xl font-extrabold sm:text-2xl capitalize text-white">MyWasteWatch</span>
        </a>
      </div>
    </div>
  </div>
</nav>
