<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="body-404">
    <div class="main_wrapper">
        <div class="main">
          <div class="antenna"></div>
          <div class="tv">
            <div class="screen">404<br>Page Not Found</div>
          </div>
          <div class="back_home">
            <a href="/">Go Back to Homepage</a>
          </div>
        </div>
    </div>
    <div class="text_404">
      <span>404</span><span>404</span><span>404</span>
    </div>
</body>
</html>
