:root {
  --primary-color: #006400;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: #004c00;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: #000;
}



#sidebar {
  width: 250px;
  height: 100%;
  background-color: #4B0082; 
  color: #000; 
  position: fixed;
  top: 70px;
  left: 0;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
}

#sidebar ul li {
  padding: 10px;
  border-bottom: 1px solid #4B0082; 
}

#sidebar ul li a {
  color: #000; 
  text-decoration: none;
}

#content {
  margin-left: 250px;
  padding: 20px;
}

#processing {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: #006400; 
  position: fixed;
  top: 0;
  background-image: url("/images/processing.gif");
  background-repeat: no-repeat;
  background-position: center center;
  content: "Loading";
  background-size: 20% auto;
}

/* Modal styles */
.bg-opacity-75 {
  backdrop-filter: blur(5px);
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*** Admin Dashboard **/
#logo-sidebar {
  background-color: #006400;
  text-decoration: none;
  color: white;
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  top:auto;
  left: 0;
}
#logo-sidebar a {
  text-decoration: none;
  padding: 20px;
  background-color: #006400;
  border-radius: 10px;
  align-items: center;
  color: white;
  transition: all 0.3s ease;
}

#logo-sidebar a:hover {
  background-color: #004c00;
}

#logo-sidebar::-webkit-scrollbar {
  width: 8px;
}
#logo-sidebar::-webkit-scrollbar-thumb {
  background-color: #004c00;
}
#logo-sidebar::-webkit-scrollbar-track {
  background: #003300;
}
main {
  margin-left: 250px;
  border-bottom: 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.grid a {
  text-decoration: none;
  padding: 20px;
  background-color: #006400;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.3s ease;
}
.grid a:hover {
  background-color: #004c00;
}
.grid p {
  font-size: 2rem;
}

.main {
height: auto;
}

@media (max-width: 768px){
#logo-sidebar {
  transform: translateX(-250px);
  transition: transform 0.3s ease-in-out;
}
#logo_sidebar.show{
  transform: translateX(0);
}
#toggle-btn {
  display: block;
  background-color: #006400;
}
}

@media (min-width: 768px){
#toggle-btn {
  display: none;
}
main {
  margin-left: 250px;
}
}


.sidebar-link {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  color: #000;
  border-radius: 0.5rem;
  background-color: #f3f4f6;
}

.svg-icon {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  color: #fff;
  transition: all 0.2s ease;
  transition-duration: 75ms;
}

/** 404 Page**/

.body {
  background-color: #fff;
  font-family: 'Ubuntu', sans-serif;
  color: #006400;
  margin: 0;
  padding: 0;
}

.main_wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30em;
  height: 30em;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.antenna {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 2px solid #006400;
  background-color: #fff;
  margin-bottom: -6em;
  z-index: -1;
}

.tv {
  width: 17em;
  height: 9em;
  margin-top: 3em;
  border-radius: 15px;
  background-color: #006400;
  display: flex;
  justify-content: center;
  border: 2px solid #1d0e01;
}

.screen {
  width: 13em;
  height: 7.85em;
  border: 2px solid #1d0e01;
  background-color: #fff;
  color: #006400;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0.2em 0.2em #006400;
  text-align: center;
}

.buttons_div {
  width: 4.25em;
  align-self: center;
  height: 8em;
  background-color: #006400;
  border: 2px solid #1d0e01;
  padding: 0.6em;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 0.75em;
}

.text_404 {
  position: absolute;
  display: flex;
  flex-direction: row;
  column-gap: 6em;
  z-index: -5;
  font-size: 3em;
  color: #006400;
  opacity: 0.8;
  margin-top: 1em;
}

.text_404 span {
  opacity: 0.5;
}

.back_home {
  margin-top: 2em;
  text-align: center;
}

.back_home a {
  text-decoration: none;
  color: #006400;
  font-size: 1.2em;
  font-weight: bold;
}

@keyframes b {
  100% {
    background-position: 50% 0, 60% 50%;
  }
}

/**** Side Bar Button****/

.hidden {
  display: none;
}

/* Example sidebar styles */
#logo-sidebar-btn {
  width: 250px;
  height: 100vh;
  background-color: #006400;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  color: white;
}

/*  <!--footer--->*/
footer {
  padding: 0; 
  font-size: medium;
}

.footer-10 {
  padding: 0 0 2em 0; }
  .footer-10 .border-top, .footer-10 .border-bottom {
    border-color: #fff }
  .footer-10 .footer-heading {
    color: #fff;
    margin-bottom: 30px; }
    
  .footer-10 p {
    color: #004c00 }

  .footer-10 a {
    color: #1089ff; }

  .footer-10 .con.con-1 {
    background: #000; }

  .footer-10 .con.con-2 {
    background: #1c1c1c; }

  .footer-10 .con.con-3 {
    background: #000; }

  .footer-10 .list-unstyled li a {
    color: rgba(255, 255, 255, 0.8); }

  .footer-10 .list-unstyled li a:hover {
      color: #fff; }

  .footer-10 .con-info .icon {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px; }
    .footer-10 .con-info .icon span {
      color: #fff;
      font-size: 24px; }
  .footer-10 .con-info span {
    color: rgba(255, 255, 255, 0.8); }
  .footer-10 .subscribe-form .form-group {
    position: relative;
    margin-bottom: 0;
    border-radius: 0; }
    .footer-10 .subscribe-form .form-group input {
      background: white !important;
      border: none !important;
      outline: none !important;
      color: rgba(0, 0, 0, 0.3) !important;
      font-size: 16px;
      border-radius: 0; }
      .footer-10 .subscribe-form .form-group input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(0, 0, 0, 0.3) !important; }
      .footer-10 .subscribe-form .form-group input::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(0, 0, 0, 0.3) !important; }
      .footer-10 .subscribe-form .form-group input:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(0, 0, 0, 0.3) !important; }
      .footer-10 .subscribe-form .form-group input:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(0, 0, 0, 0.3) !important; }
      .footer-10 .subscribe-form .form-group input:focus {
        outline: none !important;
        -webkit-box-shadow: none;
        box-shadow: none; }
    .footer-10 .subscribe-form .form-group .submit {
      color: #006400 !important;
      display: block;
      width: 130px;
      height: 52px;
      font-size: 16px;
      background: #fff !important;
      border: none;
      border-radius: 0; }
      .footer-10 .subscribe-form .form-group .submit:hover, .footer-10 .subscribe-form .form-group .submit:focus {
        text-decoration: none !important;
        outline: none !important; }
  .footer-10 .subscribe-form .subheading {
    display: inline-block;
    margin-top: 5px;
    color: #fff; }

    .social-icons {
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
      padding: 10px;
      margin: 5px;
  }

  .social-icons li {
      margin-left: auto;
  }

  .social-icons a {
      color: #fff;
      text-decoration: none;
  }

  .text {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  
  .svg-inline--fa {
    vertical-align: -0.200em;
  }
  
  .rounded-social-buttons {
    text-align: right;
    
  }
  
  .rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
  }
  
  .rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  .rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-tiktok, .fa-youtube, .fa-instagram {
    font-size: 25px;
  }
  
  .rounded-social-buttons .social-button.facebook {
    background: #3b5998;
  }
  
  .rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
    color: #006400;
    background: #fefefe;
    border-color: #006400;
  }
  
  .rounded-social-buttons .social-button.twitter {
    background: #55acee;
  }
  
  .rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
    color: #006400;
    background: #fefefe;
    border-color: #006400;
  }
  
  .rounded-social-buttons .social-button.linkedin {
    background: #007bb5;
  }
  
  .rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
    color: #006400;
    background: #fefefe;
    border-color: #006400;
  }
  
  .rounded-social-buttons .social-button.tiktok {
    background: #000000;
  }
  
  .rounded-social-buttons .social-button.tiktok:hover, .rounded-social-buttons .social-button.tiktok:focus {
    color: #006400;
    background: #fefefe;
    border-color: #006400;
  }
  
  .rounded-social-buttons .social-button.youtube {
    background: #bb0000;
  }
  
  .rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
    color: #006400;
    background: #fefefe;
    border-color: #006400;
  }
  
  .rounded-social-buttons .social-button.instagram {
    background: #125688;
  }
  
  .rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
    color: #006400;
    background: #fefefe;
    border-color: #006400;
  }

@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

/* CUSTOM FOOTER CONTACT ROW */
.widget_text.col-full.contact-us-wrapper {
    max-width: 100%;
    background-color: #1d1d1d;
    padding: 20px;
    text-align: center;
}
.site-footer {
    border-top: none;
    padding: 0;
}
.contactrow {
    max-width: 90em;
    margin: auto;
}
.contactrow .column {
   margin: 5px;
   text-align: center;
	 display: inline-block;
	 width: 30%;
   padding-top: 2%;
   padding-bottom: 2%;
}
.column, .column a {
  text-decoration: none;
    font-size: 20px;
    font-weight: 300;
	color: #006400!important;
}

.column, .column a:hover{
  color:#006400;
  background-color: #fefefe
}

.column h4 {
	color: #006400;
    font-size: 15px;
	text-transform: capitalize; 
	letter-spacing: 2px!important;
}


.column h4 .fa {
	color: #006400!important;
    font-size: 60px;
	background: none!important;
}
.contactrow {
    max-width: 90em;
    margin: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #000; /* Change to your preferred color */
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2; /* Light gray background for headers */
  font-weight: bold;
}

tbody tr:hover {
  background-color: #f9f9f9; /* Highlight on hover */
}
