<%- include("../common/head.ejs") %>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<%- include("../common/navbar.ejs") %>

<section class="container d-flex justify-content-center vh-100" style="font-family: monospace; ">
  <div class="card p-4  bg-indigo-400 shadow-sm border-0" style="margin-left: 33.33%; margin-right: 33.33%; margin-top: 5%; margin-bottom: 5%; height:400px; width:33.33%; border: 1.0rem solid #043755; align-items:center">
    <div class="mb-6">
      <h2 class="card-title text-center text-primary">Welcome back to <span class="text-secondary">MyWasteWatch</span></h2>
      <p class="text-muted text-center">Log in</p>
    </div>
    <form action="/login_process" method="post">
      <div class="mb-4">
        <label for="email" class="form-label text-dark">Email</label>
        <input type="email" id="email" name="email" placeholder="name@example.com" class="form-control border-success" required>
      </div>
      <div class="mb-4">
        <label for="password" class="form-label text-dark">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter password" class="form-control border-success" required>
      </div>
      <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
    <div class="text-center mt-4">
      <small class="text-dark">Don’t have an account? <a class="text-primary" href="/signup">Sign up</a></small>
    </div>
  </div>
</section>

<%- include("../common/footer.ejs") %>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
